.home {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 100%;
  width: 100%;
}
.create_button {
  text-align: center;
  width: 100%;
  padding: 8px 14px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #e3e7d3;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 140ms ease-in-out;
  
}
.create_button:hover {
  color: hsl(229, 25%, 31%);
  background-color: #fff;
}
.list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  height: 100%;
  width: 100%;
}
@media (min-width: 550px) {
  .create_button {
    width: max-content;
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
 
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}
