.wrapper {
  height: 100%;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
.back {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
.back_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
  padding: 6px 8px;
  border-radius: 8px;
  border: 1px solid #fff;
  background-color: transparent;
  transition: all 140ms ease-in-out;
}
.back_container:hover {
  color: hsl(229, 25%, 31%);
  background-color: #fff;
}
.back_container > p {
  margin-left: 15px;
}

.content {
  display: grid;
  min-height: 260px;
  height: 100%;
  width: 100%;
  gap: 40px;
  padding: 40px 20px;
  margin: 10px 0;
  border: 1px solid white;
  border-radius: 8px;
  background-color: transparent;
}
.step_title {
  text-align: center;
}
.step_media_type {
  display: grid;
  gap: 40px;
}
.form {
  display: grid;
  width: 100%;
  gap: 10px;
  margin: 10px 0;
}

.error_message {
  color: #fbc260;
  font-size: 0.8rem;
  font-style: italic;
}
.submit_button {
  padding: 10px 20px;
  border-radius: 8px;
  border: 0;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 140ms ease-in-out;
}
.step_buttons {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}
.info_inputs_wrapper {
  position: relative;
  display: grid;
  gap: 15px;
  grid-template-columns: 30% 1fr;
  margin-top: 20px;
}
.info_delete_button {
  position: absolute;
  top: -5px;
  right: 0px;
  padding: 4px 6px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 0.7rem;
  cursor: pointer;
}
