*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #fafafa;
  
}
body {
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
  
}

