.step_media_type {
  display: grid;
  gap: 40px;
}
.step_buttons {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr;
}
.error_message {
  color: #fbc260;
  font-size: 0.8rem;
  font-style: italic;
}
